.container-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents overflow */
}

/* Particles are behind */
.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensures it's behind */
}

/* Glass Panel */
.glass-panel {
  position: absolute;
  width: 1000px;
  height: 460px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(to bottom, rgba(0, 255, 255, 0.3), rgba(143, 244, 255, 0.5), rgba(0, 255, 255, 0.3));
  border: 2px solid cyan;
  padding: 20px;
  text-align: center;
  color: white;
}


.about-me-container {
  position: absolute;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.about-title {
  font-size: 28px;
  margin-top: -100px;
  font-weight: bold;
  color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.about-text {
  font-size: 22px;
  margin-left: 150px;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(90deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #005eff, #7a00ff, #ff00c8);
  background-size: 300% 300%;
  color: black; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedColors 6s infinite linear;
}

@keyframes animatedColors {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
