.header{
  width: 100px;
  height: 50px;
  margin-left: 400px;
  margin-top: 30px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(0, 255, 255, 0.3), rgba(143, 244, 255, 0.9), rgba(0, 255, 255, 0.3));
  border: 3px solid rgba(0, 229, 255, 0.8);
  outline: 3px solid rgba(0, 255, 255, 0.5);
}