.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section {
  text-align: center;
  width: 60%;
}

.skills-title {
  font-size: 26px;
  font-weight: bold;
  font-family: 'zfont', sans-serif;
  text-transform: uppercase;
  color: cyan;
  letter-spacing: 3px;
  text-shadow: 
    0px 0px 5px navy, 
    0px 0px 10px white, 
    0px 0px 15px white;
  -webkit-text-stroke: 1.2px rgb(0, 0, 0); 
  background: rgba(79, 168, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}

.skills-row {
  display: flex;
  justify-content: center;
  gap: 17px;
  flex-wrap: wrap;
}

.skill-item {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(
    35% 0%, 65% 0%, 100% 25%, 100% 75%, 
    65% 100%, 35% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 0px 2.5px rgb(0, 0, 255);
  border: 3px solid rgb(0, 255, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.skill-icon {
  font-size: 2.9rem;
  color: cyan;
  transition: color 0.3s ease;
}

/* Active (Soliton Wave) Effect */
.skill-item.active {
  transform: scale(1.15);
  border: 3px solid pink;
  box-shadow: inset 0px 0px 15px red;
}

.skill-item.active .skill-icon {
  color: yellow;
}
