.toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, navy, black);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px black;
  z-index: 100;
}

.toggle-button.active {
  background: linear-gradient(45deg, cyan, blue);
  box-shadow: 0 0 10px gray;
}

.toggle-button:hover {
  transform: scale(1.1);
}

/* Dark mode styles */
body.dark-mode {
  background: black !important;
  transition: background 0.5s ease-in-out;
}
